    *,
    *::before,
    *::after {
        padding: 0;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        box-sizing: border-box;
    }
    
    html {
        background-color: rgb(92, 170, 196);
    }
    
    .contanier {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        padding: 10px;
        .outerwatch {
            background-color: black;
            background-color: black;
            border: 5px solid grey;
            border-radius: 3rem;
            width: 200px;
            height: 200px;
            position: relative;
            .innerWatch {
                background-color: black;
                position: absolute;
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;
                display: flex;
                flex-flow: column;
                .time {
                    background-color: white;
                    border-radius: .5rem;
                    display: flex;
                    flex-flow: row nowrap;
                    padding: 5px;
                    position: relative;
                    height: 40px;
                    * {
                        font-size: 30px;
                        color: black;
                    }
                    #time-amount {
                        position: absolute;
                        transform: translate(-50%, -50%);
                        top: 50%;
                        left: 50%;
                        text-align: center;
                    }
                }
                .buttons {
                    background-color: black;
                    padding: 10px;
                    padding-top: 20px;
                    display: flex;
                    justify-content: space-between;
                    * {
                        text-align: center;
                        padding-right: 3px;
                        padding-left: 3px;
                        width: fit-content;
                        border: 5px solid black;
                        border-radius: .5rem;
                        font-size: 16px;
                        font-weight: bold;
                        outline: none;
                    }
                    #reset {
                        background-color: red;
                    }
                    #start {
                        background-color: rgb(52, 214, 52);
                    }
                    #lap {
                        background-color: rgb(187, 187, 187);
                    }
                }
            }
        }
    }