    *,
    *::after,
    *::before {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    }
    
    html {
        background-color: rgb(92, 170, 196);
    }
    
    $black: #0F0F0F;
    $grey: #4F4E52;
    $green: #00E26A;
    $white: #F8F7FD;
    body {
        background-color: $black;
        border: 5px solid $grey;
        border-radius: .5rem;
        color: $white;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .container {
            .time {
                font-size: 4rem;
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin: 10px;
                color: $white;
            }
            .buttons {
                font-size: 1.7rem;
                display: flex;
                justify-content: center;
                #startStop {
                    margin-right: 15px;
                    padding: 5px;
                    background-color: $green;
                }
                #lap {
                    background-color: $grey;
                }
            }
            .lapTime {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin: 10px;
                color: $grey;
            }
        }
    }